
.container {
  display:flex;
  background-color: lavenderblush;
  font-size: smaller;
}

.body-container {
  display: flex;
  justify-content: center;
}

.header-name {
  margin-bottom: 2em;
  font-family: monospace;
  font-size: larger;
  text-align: center;  
}

.footer-Wrapper {
  margin-top: 4em;
  text-align: center;
}

/* Other blogs */

.other-blogs {
  display: flex;
  max-width: 20%;
  margin-top: 4em;
  margin-right: 2em;
  flex-basis: 20%;
}

.other-blogs header {
  font-weight: bold;
}

.other-blogs ul {
  margin-left: -2em;
}

.other-blogs li {
  list-style: none;
  margin-bottom: 1em;
}

/* Posts */

.posts {
  display:flex;
  max-width: 60%;
  flex-basis: 60%;
  display:flex;
  flex-direction: column;
}

.posts .date,
.posts .comment-count {
  color: gray;
}

/* Recent entries */

.recent-entries {
  margin-top: 4em;
  margin-left: 2em;
  flex-basis: 20%;
  display:flex
}

.recent-entries header {
  font-weight: bold;
}

.recent-entries ul {
  margin-left: -2em;
}

.recent-entries li {
  list-style: none;
  margin-bottom: 1em;
}
